app = 'pocket-react'
primary_region = 'arn'

[[mounts]]
  source = 'litefs'
  destination = '/var/lib/litefs'

[env]
  SQLITE_PATH = "/pb_data/data.db"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[[regions]]
  name = "arn"
  primary = true
